In [15]:
df=pd.read_csv("budget_data.csv")

In [11]:
import pandas as pd

In [16]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [17]:
import os

In [18]:
os

In [19]:
file_to_load = os.path.join('budget_data.csv')

In [38]:
df = []
count = 0
total = 0
average_change = 0
greatest_incr = ("",0)
greatest_decr = ("",0)
month_year = ""
ini = 0

csvpath = Path('budget_data.csv')

with open(csvpath, 'r') as csvfile:
    
    csvreader = csv.reader(csvfile, delimiter=',')
    
    csv_header = next(csvreader)
    print(csv_header)
    for row in csvreader:
        count = (count + 1)        
        bdf = int(row[1])


        if count < 2:
            ini = bdf
        else:
            next_row = bdf  
        month_year = row[0]
        total = (bdf + total)
        
print(ini)
print(average_change)
print(total)
print(count)

['Date', 'Profit/Losses']
867884
0
38382578
86

In [39]:
from pathlib import Path
import csv

In [40]:
df=[]
inc_month=[""]
dec_month =[""]
previous_val = 0
Total_Months = 1
Total = 0
Average_Change = 0
Greatest_Increase = 0
Greatest_Decrease = 0
csvpath = Path("budget_data.csv")

In [41]:
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile)    
    next(csvreader)
    df = next(csvreader)
    previous_val = int(df[1])
    Total = previous_val
    for row in csvreader:
              
        Total_Months = Total_Months +1
        Total = Total + int(row[1])
        Average_Change = Average_Change + (int(row[1])-previous_val)
    # if statment to get values from for loop       
        if int(row[1]) - previous_val > Greatest_Increase:
            Greatest_Increase = int(row[1]) - previous_val
            inc_month = (row[0])
        elif int(row[1]) - previous_val < Greatest_Decrease:
            Greatest_Decrease = int(row[1]) - previous_val
            dec_month = (row[0])
        previous_val = int(row[1])   
    Average_Change = Average_Change/(Total_Months-1)

In [42]:
# results 
print("Total:", Total)
print("Total Months:", Total_Months)
print("Average  Change:", round(Average_Change,2))
print("Greatest Increase in Profits:", inc_month,":", Greatest_Increase)
print("Greatest Decrease in Profits:", dec_month,":", Greatest_Decrease)

Total: 38382578
Total Months: 86
Average  Change: -2315.12
Greatest Increase in Profits: Feb-2012 : 1926159
Greatest Decrease in Profits: Sep-2013 : -2196167